<html>
   <body bgcolor="pink">
       <h4> Do you think that discussing a physical health issue with your employer would have negative consequence</h4>    
       <select>
          <option> Yes </option>
          <option> No </option>
       </select>
          <h4> Would you be willing to discuss a mental health issue with your coworkers</h4>    
       <select>
          <option> Yes </option>
          <option> No </option>
       </select>
            </select>
          <h4> Would you be willing to discuss a mental health issue with your direct supervisor(s)</h4>    
       <select>
          <option> Yes </option>
          <option> No </option>
       </select>
       </select>
          <h4> Would you bring up a mental health issue with a potential employer in an interview</h4>    
       <select>
          <option> Yes </option>
          <option> No </option>
       </select>
           </select>
          <h4>Would you bring up a physical health issue with a potential employer in an interview </h4>    
       <select>
          <option> Yes </option>
          <option> No </option>
       </select>
         <h4>Do you feel that your employers takes  mental health as serious as physical health </h4>    
       <select>
          <option> Yes </option>
          <option> No </option>
       </select> 
       <h1><a href="output.html"> <button> Predict</button> </a> </h1>
   </body>
</html>